<% content_for :title do %>My Camera Dashboard<% end %>
<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="camera1" data-view="Cameras" data-title="Цех №2"></div>
	</li>
   </ul>
	
</div>
